# fly.toml app configuration file generated for zenao-staging-gno on 2025-01-26T18:08:51+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'zenao-staging-gno'
primary_region = 'cdg'

[build]
  dockerfile = 'gno.Dockerfile'

[http_service]
  internal_port = 8888
  force_https = true
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 26657

  [[services.ports]]
    port = 26657
    handlers = ['tls', 'http']

[[vm]]
  cpu_kind = 'shared'
  cpus = 2
  memory_mb = 2048
