name: Codegen

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  check-codegen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version-file: ".nvmrc"

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version-file: go.mod
          cache-key-suffix: buf-gen
      - name: Install goimports
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: Generate
        run: make generate

      - name: Check diff
        run: git diff --exit-code
