name: Gno Test

on:
  push:
    branches:
    - main
  pull_request:
  merge_group:


jobs:
  gno-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Golang with cache
      uses: magnetikonline/action-golang-cache@v5
      with:
        go-version-file: go.mod
        cache-key-suffix: gno

    - name: Test gno
      run: make test-gno
