name: Go

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  check-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version-file: go.mod

      - name: Tidy go.mod
        run: go mod tidy

      - name: Test
        run: go test ./backend/...

      - name: Build
        run: go build -o zenao-backend ./backend

      - name: Check diff
        run: git diff --exit-code
