name: Schema

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  check-schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v3
        with:
          go-version: "1.23"

      - name: Get go binaries path
        id: go-bin-path
        run: echo "PATH=$(go env GOPATH)/bin" >> "$GITHUB_OUTPUT"

      - name: Cache atlas
        uses: actions/cache@v4
        with:
          path: ${{ steps.go-bin-path.outputs.PATH }}
          key: ${{ runner.os }}-atlas-bin-c261f318ac25924555e63fdf005cc53de43fa5db

      - name: Install atlas
        run: make install-atlas

      - name: Update schema
        run: make update-schema

      - name: Check diff
        run: git diff --exit-code schema.hcl
